@page "/"
@using TodoAppBlazor.Services;
@inject ITodoService _todoService;

<PageTitle>To-do List</PageTitle>

<div style="padding: 20px;">
    <h4 style="color: #fafafa">Novo Item</h4>
    <TodoItemForm OnItemAdded="@ItemsChanged" />
</div>

<div style="padding: 20px; margin-top:20px">
    <div style="display: flex; flex-direction: column">
        @foreach (var todo in Todos)
        {
        <div class="flex-center" style="margin-bottom: 10px;">
            <div style="display:flex; align-items: center; margin-bottom: 10px;">
                <div class="@ItemClass(todo)" style="width: 280px; color: #fafafa">@todo.Text</div>
                <div>
                    <button class="btn btn-danger" onclick="@(() => DeleteItem(todo))">Delet</button>
                </div>
            </div>

        </div>
        }
    </div>
</div>

@code {
private IList<TodoItem> Todos { get; set; } = new List<TodoItem>();

        protected override void OnInitialized()
        {
            Todos = _todoService.GetAll().ToList();
        }

        public string ItemClass (TodoItem item)
        {
            return item.Completed ? "item-completed" : "";
        }

        public void ItemsChanged()
        {
            Todos = _todoService.GetAll().ToList();
            StateHasChanged();
        }
        public void DeleteItem(TodoItem item)
        {
            _todoService.Delete(item);
            ItemsChanged();
        }
}