@inherits LayoutComponentBase

<PageTitle>TodoAppBlazor</PageTitle>

<div class="page">
    

    <main>
        <div style="background: #333; height: 15vh" class="p-4">
            <h4 style="color: #fafafa">To-Do List</h4>
        </div>

        <article style="background: #1F1F1F; height: 85vh" class="content px-4">
            @Body
        </article>
    </main>
</div>
