@using TodoAppBlazor.Services;
@inject ITodoService _todoService;
@using Radzen
@using System.Text.Json

<EditForm  Model="@NewItem" OnSubmit="@ItemAdded">
    <RadzenCard Style="display: flex; width: 28rem; align-items: end; gap: 0.5rem; background: #333333">
        <div>
            <RadzenText TextStyle="TextStyle.Subtitle2" Style="color: #fff" TagName="TagName.H3">Tarefa: </RadzenText>
            <RadzenTextBox Placeholder="Ex: Academia" @bind-Value="NewItem.Text" id="Item" class="w-100 no-outline" Style="background: #444; color: #fff"/>
        </div>
        <div>
            <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Icon="add" value="Add"/>
            <RadzenButton ButtonType="ButtonType.Reset" ButtonStyle="ButtonStyle.Danger" Icon="close" value="Reset"/>
        </div>
    </RadzenCard>
</EditForm>
 
@code {
    [Parameter]
    public required Action OnItemAdded { get; set; }

    private TodoItem NewItem = new TodoItem("");

    public void ItemAdded()
    {
        var newItem = new TodoItem(NewItem.Text);
        NewItem.Text = "";
        _todoService.Add(newItem);

        if (OnItemAdded != null)
        {
            OnItemAdded();
        }
    }
}