@using TodoAppBlazor.Services;
@inject ITodoService _todoService;

<EditForm  Model="@NewItem" OnSubmit="@ItemAdded">
    <div style="display: flex; align-items: center; justify-content:center; width: 400px;">
        <p style="color: #fafafa; font-size:18px; margin: 10px 10px 10px 0px">
            Tarefa:
        </p>
        <InputText @bind-Value="NewItem.Text" class="form-control" placeholder="Nome da tarefa" style="margin-right: 10px; background:#333; border: none" id="Item" />
        <input type="submit" class="btn btn-primary" style="margin-right: 10px" value="Add" />
        <input type="reset" class="btn btn-secondary" value="Clear" />
    </div>
</EditForm>
 
@code {
    [Parameter]
    public required Action OnItemAdded { get; set; }

    private TodoItem NewItem = new TodoItem("");

    public void ItemAdded()
    {
        var newItem = new TodoItem(NewItem.Text);
        NewItem.Text = "";
        _todoService.Add(newItem);

        if (OnItemAdded != null)
        {
            OnItemAdded();
        }
    }
}